<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  {% block title %}<title>My Checkup</title> {% endblock %}
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/MC.css' %}">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
  <div class = "navs" id = "myHeader">
    <ul>
      <a href="{% url 'home' %}"><li class = "nav">MyCheckup</li></a>
      <a href="{% url 'about' %}"><li class = "nav">About</li></a>
      {% if user.is_authenticated %}
       <a href={% url 'scoresheet' pk=0 %}><li class = "nav">Stats</li></a>
       <a href="{% url 'logout'%}?next=/"><li class ="nav2">Logout</li></a>
      {% else %}
       <a href="{% url 'signup' %}?next=/"><li class = "nav2">SignUp</li></a>
       <a href="{% url 'login'%}?next=/"><li class = "nav2">Login</li></a>
      {% endif %}
      <!--{% url 'logout'%}?next={{request.path}}-->
    </ul>
  </div>

  <div><p><br></p></div>

  <div class = "page-header"><h1><a class ="nounderline" href="{% url 'home' %}"><img src="{% static 'MC2.png' %}" alt="My image" style="width:106px;height:90px;"/>My Checkup </h1></a></div>

  <div class = "narrow">
    {% block content %}{% endblock %}
  </div>

</body>
</html>


<Script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var myHeader = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = myHeader.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    myHeader.classList.add("sticky")
  } else {
    myHeader.classList.remove("sticky");
  }
}
</script>
