{% extends 'generic.html' %}
{% load static %}

{% block content %}
</div>
<div class = "intro5">
<p>We all have normal ups and downs, but sometimes we get stuck in a bad spot. <b>My Checkup</b> gives you a way out before you get too stuck.</p>
</div>


<div class = "image1"><img src="{% static 'Stuck.png' %}" alt="My image" style="width:350px;height:200px"/></div>
<br>
<br>


<div class = "intro3">
<p><b>My Checkup</b> is about finding things you <b>Do or Think or Feel</b> that keep us on the right track.</p>
</div>

<div class = "intro4">
<p><a class = "button" href="{% url 'home' %}">Checkup</a></b> allows you to see how you are doing and track progress.</p>
</div>
<br>
<br>
<br>

<div class = "intro5">
<h2> Resilient Studio</h2>
<p>My Checkup is a product made by <a href="http://www.resilientstudio.com">Resilient Studio</a>. The goal of Resilient Studio is to create helpful tools to improve wellness and to help overcome the many challenges in life.</p>
  <div class = "image1">
    <a href="http://www.resilientstudio.com"><img src="{% static 'RS.png' %}" alt="My image" style="width:233px;height:50px;"/></a>
  </div>
</div>

<div class = "intro6">
<h2>The Team</h2>
<div class="row">
<div class="col-sm-6">

<div class = "border">
<h3 style="text-align: center;">Aaron Rothstein</h3>
<ul>
 	<li>Aaron is a rural generalist physician working in Northern Ontario, primarily in Sioux Lookout. He has trained at McGill (Biochemistry), Western (MD), and Northern Ontario School of Medicine (Family Medicine)</li>
 	<li>Aaron is an Assistant Professor at the Northern Ontario School of Medicine. He hosts a medical podcast: <a href="https://itunes.apple.com/ca/podcast/dr-aaron-rothsteins-gem-generalist-medicine-podcast/id1045154033?mt=2">Generalist Medicine (GeM)</a></li>
</ul>
<div class="image1"><img src="{% static "MC/AR.jpg" %}" alt="My image" style="width:277px;height:417px;"/></div> <br />
</div>
</div>
<div class="col-sm-6">
<div class = "border">
<h3 style="text-align: center;">Amar Singh</h3>
<ul>
 	<li>Amar studied Finance and History at McGill University, and has learned Design and Development over the past five years.</li>
 	<li>Amar is an independent Designer. He was most recently Director of Design at <a href="http://www.tradesy.com" target="_ blank">Tradesy</a>, and a Design Manager and Product Manager at <a href="http://www.americanexpress.com" target="_blank" rel="noopener">American Express</a> in New York City.</li>
 	<li>Amar can be found at <a href="http://ummerr.com" target="_blank" rel="noopener">ummerr.com</a></li>
</ul>
<div class = "image1"><img src="{% static "MC/amar.png" %}" alt="My image" style="width:300px;height:300px;"/></div>
</div>
</div>
</div>
</div>



{% endblock %}
