{% extends 'generic.html' %}

{% block content %}
  <h2> {{ user.get_username }}'s CheckUp</h2>

  <div class = "textbox">
  {% for question in questions %}
        <p> {{forloop.counter}}) {{ question.text }} </p>
  {% endfor %}
  </div>
  
  <div class = "textbox2">
  <p> How many of these statements apply to you right now?  If not many apply, you may be in a different mindset, and it may be one that you find unhealthy or different</p>
  </div>

  <div class = "textbox2">
  <p>Made a mistake with a statement? Realize that a statement was not as important as you thought?</p>
  <p> <a href="{% url 'delete_question' %}">Delete Entries </a></p>

{% endblock %}
