{% extends 'generic.html' %}

{% block content %}
  <h2> {{ user.get_username }}'s CheckUp</h2>

<h4> In the past week, I generally: </h4>


  {% for key, val in questions %}
  {%if val == None%}
    <div class = "statement_{{key}}">
      <p><a href={% url 'statement_input' statement=key %}> Create a new statement </a></p>
    </div>
  {%else%}
    <div class = "statement_{{key}}">
      <p>{{ key }}) <a href={% url 'statement_input' statement=key %}>{{val}}</a></p>
    </div>
  {%endif%}
  {% endfor %}
<p> Click a statement to edit it!</p>

{% endblock %}
