{% extends 'generic.html' %}
{% load static %}

  {% block content %}

  {% if user.is_authenticated %}
  <h1>Welcome {{ user.get_username|title }} ! </h1>

  <div class = "checkup">
  <br>
  <!--shows CheckUp Only if all questions compelted-->
    {%if mod == 0 %}
      <br>
      <h3><a class = "button" href="{% url 'score' %}">Checkup</a></h3>
      <br>
      <br>
    {% endif %}

  <div class = "textbox4">
  <h2> {{user.get_username|title}}'s My Checkup </h2>
  <h4> Click a statement to edit</h4>
  </div>

  <ul class = "check">
    {% for key, val in questions %}
    {%if val == None%}
      <div class = "statement_{{key}}">
        <li><a class = "mc" href={% url 'statement_input' statement=key edit=0 %}> Create a new statement </a></li>
      </div>
    {%else%}
      <div class = "statement_{{key}}">
        <li class = "image"> <a class ="mc" href={% url 'statement_input' statement=key edit=1 %}>{{val}}</a></li>
      </div>
    {%endif%}
    {% endfor %}
  </ul>
   <br>
   <div class = "image1"><img src="{% static 'MC2.png' %}" alt="My image" style="width:106px;height:90px"/></div>

  {%else%}

    </div>
    <div class = "intro2">
    <div class = "row">
    <div class = "col-sm-4">
    <h3 class = "color"><b>#1</b> Create Your Checkup</h3>
    <br>
    <img src="{% static 'MC/one.png' %}" alt="My image" style="width:188px;height:201px;"/>
    </div>
    <div class = "col-sm-4">
    <h3 class = "color"><b>#2</b> Checkup Each Week</h3>
    <br>
    <img src="{% static 'MC/two.png' %}" alt="My image" style="width:168px;height:188px;"/>
    </div>
    <div class = "col-sm-4">
    <h3 class = "color"><b>#3</b> Keep Track and Learn</h3>
    <br>
    <img src="{% static 'MC/three.png' %}" alt="My image" style="width:261px;height:235px;"/>
    </div>
    </div>

    <div id = "clickme" style="display:none">
    <div class = "col-sm-4">
    <br>
    <h4>When you are <b>well</b>, what do you:</h4>
    <img src="{% static 'MC/four.png' %}" alt="My image" style="width:300px;height:437px;"/>
    </div>
    <div class = "col-sm-4">
    <br>
    <img src="{% static 'MC/five.png' %}" alt="My image" style="width:300px;height:376px;"/>
    </div>
    <div class = "col-sm-4">
    <br>
    <img src="{% static 'MC/six.png' %}" alt="My image" style="width:300px;height:466px;"/>

    </div>

    </div>
    </div>
    </div>

    <br>

    <div id = "clickme2">
    <div class = "button2">
    <button>Tell me more</button>
    </div>
    </div>

    <div id = "clickme1" style="display:none">
    <div class = "button2">
    <button>Show less</button>
    </div>
    </div>

    <div class = "intro2">
    <p>  <b>Checkup</b> on yourself </p>
    <img src="{% static 'MC/MC5.png' %}" alt="My image" style="width:106px;height:90px;"/>
    </div>



    <script>
    $("button").click(function() {
      $( "#clickme" ).toggle();
      $( "#clickme1" ).toggle();
      $( "#clickme2" ).toggle();
    });
    </script>

    <br>
    <div class = "intro3">
    <a class = "button" href="{% url 'login'%}">Login</a> or <a class = "button" href="{% url 'signup' %}">Sign Up </a>
    </div>

  {%endif%}






  {% endblock %}
