{% extends 'generic.html' %}
{% load static %}
{% block content %}

<h2> Your Checkup on {{otherdate}} </h2>

<div class = "row">
<div class = "col-sm-8">

<div class = "textbox">
<p>Your score was: <strong>{{score}}/5</p></strong>
</div>

<div class="textbox2">
  <p style = text-align:center> You were feeling {{wellness}} </p>
  {% if wellness == "Really Good" %}
    <div class = "image1"><img src="{% static 'happy5.png' %}" alt="My image" style="width:100px;height:100px"/></div>
  {% elif wellness == "Good" %}
    <div class = "image1"><img src="{% static 'happy4.png' %}" alt="My image" style="width:100px;height:100px"/></div>
  {% elif wellness == "OK" %}
    <div class = "image1"><img src="{% static 'happy3.png' %}" alt="My image" style="width:100px;height:100px"/></div>
  {% elif wellness == "Bad" %}
    <div class = "image1"><img src="{% static 'happy2.png' %}" alt="My image" style="width:100px;height:100px"/></div>
  {% else %}
    <div class = "image1"><img src="{% static 'happy1.png' %}" alt="My image" style="width:100px;height:100px"/></div>
  {% endif %}
</div>


<div class ="statement_1">
<p><b>{{question_list.1}}</b></p>
{% if scorelist.0 == 0 %}<p>No</p>
{% else %} <p>Yes</p>
{% endif %}
</div>

<div class ="statement_2">
<p><b>{{question_list.2}}</b></p>
{% if scorelist.1 == 0 %}<p>No</p>
{% else %} <p>Yes</p>
{% endif %}
</div>

<div class ="statement_3">
<p><b>{{question_list.3}}</b></p>
{% if scorelist.2 == 0 %}<p>No</p>
{% else %} <p>Yes</p>
{% endif %}
</div>

<div class ="statement_4">
<p><b>{{question_list.4}}</b></p>
{% if scorelist.3 == 0 %}<p>No</p>
{% else %} <p>Yes</p>
{% endif %}
</div>

<div class ="statement_5">
<p><b>{{question_list.5}}</b></p>
{% if scorelist.4 == 0 %}<p>No</p>
{% else %} <p>Yes</p>
{% endif %}
</div>
</div>
</div>

<br>
<br>
<br>

{% endblock %}
