<!--

{% extends 'generic.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>New Check-Up Statement</h1>
    <br>
    <p>This statement is something you tend to do/be/think when you are well</p>
    <p> <i>Eg: I am eating healthy; I go to the gym most days </i><p>
    <br>
    <form method="POST" class="post-form">{% csrf_token %}
        <table border="1">
        {{ form | crispy }}
        </table>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
