{% extends 'generic.html' %}
{% block content %}

<!--detects post checkup OR stats check based on pk delivered to url-->
{%if pk == "0"%}
<h2>{{ user.get_username|title }}'s Stats </h2>
{% else %}
<h2> Check-In Complete! </h2>
<h3>STATS</h3>
{% endif %}


{%if pk != "0"%}

<div class = "textbox">
<p> You are doing <strong>{{scorenow}}/5</strong> of your statements regularly</p>
</div>

<div class = "button2">
<button>What's it mean?</button>
</div>
<script>
$("button").click(function() {
  $( "#clickme" ).toggle("fast");
});
</script>

<div id = "clickme" style="display:none">
<div class = "textbox2">
{%if scorenow > 3%}
  {%if bigscorenow > 2%}
  <p><b>You are definitely living true to Your Checkup.</b></p>
  <p> Considering your Statements regularly can you keep you grounded and well. Good work!</p>
  {%else%}
  <p><b>You are living true to Your Checkup.</b></p>
  <p> But you are still <b>not feeling great</b>. It may be a good time to try one of the following:
  <ul>
    <li>Stay the course. We all feel down sometimes - that's normal as long as it passes.</li>
    <li><a href="{% url 'mycheckup' %}"> Changing Your Checkup Statements</a> - to make different intentions.</li>
    <li>Ask for help from someone who cares.</li>
    <li> <a href ="{% url 'resources' %}">Here are some resources</a> that you might find valuable</li>

  </ul>
  {%endif%}

{%elif scorenow > 1%}
<p><b>You are sometimes doing the things on Your Checkup.</b> </p>
  {%if bigscorenow > 2%}
  <p> However, you are still feeling good. This may mean:</p>
  <ul>
    <li>You feel good. Don't overthink it.</li>
    <li>You feel good. But you could feel even better if you kept up with the things on Your Checkup.</li>
    <li><a href="{% url 'mycheckup' %}"> Edit Your Checkup</a>: Your Checkup items could be reconsidered - what are you doing/thinking that keeps you doing well?</li>
  </ul>
  {%else%}
  <p> This may be a good moment to ask yourself if things are going OK. If you are struggling, that's OK - we all do sometimes. It may be time to make some changes or else reconsider your My Checkup Questions.</p>
  <p> <a href ="{% url 'resources' %}">Here are some resources</a> that you might find valuable</p>
  {%endif%}
{%else %}
  <p><b>You are rarely doing the things on Your CheckUp. </b></p>
  {%if bigscorenow > 2%}
  <p> However, you are still feeling good. This may mean:</p>
  <ul>
    <li>You feel good. Don't overthink it.</li>
    <li>You feel good. But you could feel even better if you kept up with the things on Your Checkup.</li>
    <li><a href="{% url 'mycheckup' %}"> Edit Your Checkup</a>: Your Checkup items could be reconsidered - what are you doing/thinking that keeps you doing well? </li>
  </ul>
  {%else%}
  <p> This might be a moment to reconsider whether you are coping OK or happy with where you are at. If it's temporary, no worries! If you find your scores low on a regular basis, think about asking someone for help or changing things up.
  <br>
  <p> We believe in you. </p>
  <br>
  <p> <a href ="{% url 'resources' %}">Here are some resources</a> that you might find valuable:</p>
  {%endif%}
{%endif%}
</div>
</div>
{% endif %}

<div class = "textbox4">
<p>You have performed <b>{{scores}}</b> Check-Ins with yourself</p>
</div>

{%if pk == "0" %}
  <div class = "textbox4">
  {% if date1 != "Not yet completed" %}
    <p><b> Past Scores </b></p>
    <p>  <b>{{scorenow}}/5</b> on {{date1}}</p>
    {% if date2 != "Not yet completed" %}
    <a href ={% url 'otherscore' number=1 %}><p>  <b>{{score2}}/5</b> on {{date2}} </p></a>
      {% if date3 != "Not yet completed" %}
      <a href ={% url 'otherscore' number=2 %}><p><b>{{score3}}/5</b> on {{date3}}</a></p>
      {% endif %}
    {% endif %}
  {% endif %}
  </div>
{% else %}
  <div class = "textbox4">
  {% if date2 != "Not yet completed" %}
    <p> Your last scores were:</p>
    <a href ={% url 'otherscore' number=1 %}><p>  <b>{{score2}}/5</b> on {{date2}} </a></p>
    {% if date3 != "Not yet completed" %}
    <a href ={% url 'otherscore' number=2 %}><p><b>{{score3}}/5</b> on {{date3}}</a></p>
    {% endif %}
  {% endif %}
  </div>
{% endif %}

<br>

{% if date1 != "Not yet completed" %}
<div class = "row">
<div class = "col-sm-8">
<div class ="statement_1">
<p><b>{{questions.1}}</b></p>
<p> You do this {{z1}}% of the time </p>
</div>

<div class ="statement_grey">
<p><b>{{questions.2}}</b></p>
<p> You do this {{z2}}% of the time </p>
</div>

<div class ="statement_3">
<p><b>{{questions.3}}</b></p>
<p> You do this {{z3}}% of the time </p>
</div>

<div class ="statement_grey">
<p><b>{{questions.4}}</b></p>
<p> You do this {{z4}}% of the time </p>
</div>

<div class ="statement_5">
<p><b>{{questions.5}}</b></p>
<p> You do this {{z5}}% of the time </p>
</div>
</div>
</div>
{% endif %}

<h2><a href="{% url 'home' %}">Back to My CheckUp</a> </h2>


{%endblock%}
