{% extends 'generic.html' %}
{% block content %}

<h2> Check-In Complete! </h2>

<h3>STATS</h3>
<p>You have performed <b>{{scores}}</b> Check-Ins with yourself</p>

<div class = "textbox">
<p> You are doing <strong>{{scorenow}}/5</strong> of your statements regularly</p>
<br>

{%if scorenow > 3%}
  {%if bigscorenow > 2%}
  <p><b>You are definitely living true to Your CheckUp.</b></p>
  <p> Considering your Statements regularly can you keep you grounded and well. Good work!</p>
  {%else%}
  <p><b>You are living true to Your CheckUp.</b></p>
  <p> But you are still <b>not feeling great</b>. It may be a good time to try one of the following:
  <ul>
    <li>Stay the course. We all feel down sometimes - that's normal as long as it passes.</li>
    <li><a href="{% url 'mycheckup' %}"> Changing Your Checkup Statements</a> - to make different intentions.</li>
    <li>Ask for help from someone who cares.</li>
    <li> <a href ="{% url 'resources' %}">Here are some resources</a> that you might find valuable</li>

  </ul>
  {%endif%}

{%elif scorenow > 1%}
<p><b>You are sometimes doing the things on Your CheckUp.</b> </p>
  {%if bigscorenow > 2%}
  <p> However, you are still feeling good. This may mean:</p>
  <ul>
    <li>You feel good. Don't overthink it.</li>
    <li>You feel good. But you could feel even better if you kept up with the things on Your CheckUp.</li>
    <li><a href="{% url 'mycheckup' %}"> Edit Your Checkup</a>: Your CheckUp items could be reconsidered - what are you doing/thinking that keeps you doing well?</li>
  </ul>
  {%else%}
  <p> This may be a good moment to ask yourself if things are going OK. If you are struggling, that's OK - we all do sometimes. It may be time to make some changes or else reconsider your My CheckUp Questions.</p>
  <p> <a href ="{% url 'resources' %}">Here are some resources</a> that you might find valuable</p>
  {%endif%}
{%else %}
  <p><b>You are rarely doing the things on Your CheckUp. </b></p>
  {%if bigscorenow > 2%}
  <p> However, you are still feeling good. This may mean:</p>
  <ul>
    <li>You feel good. Don't overthink it.</li>
    <li>You feel good. But you could feel even better if you kept up with the things on Your CheckUp.</li>
    <li><a href="{% url 'mycheckup' %}"> Edit Your Checkup</a>: Your CheckUp items could be reconsidered - what are you doing/thinking that keeps you doing well? </li>
  </ul>
  {%else%}
  <p> This might be a moment to reconsider whether you are coping OK or happy with where you are at. If it's temporary, no worries! If you find your scores low on a regular basis, think about asking someone for help or changing things up.
  <br>
  <p> We believe in you. </p>
  <br>
  <p> <a href ="{% url 'resources' %}">Here are some resources</a> that you might find valuable:</p>
  {%endif%}
{%endif%}
</div>

<div class = "textbox2">
<p> Your last two scores were:</p>
<p>  <b>{{score2}}/5</b> on {{date2}} </p>
<p>  <b>{{score3}}/5</b> on {{date3}}</p>
</div>

<br>
<div class="row">
  <div class="col-sm-6">
{% for key, val in questions %}
  <div class = "statement_{{key}}">
  <p>{{ key }}) {{val}}</p>
  </div>
{% endfor %}
  </div>
  <div class="col-sm-6">
  <div class = "statement_1">
  <p> You said Yes to this {{z1}}% of the time </p>
  </div>
  <div class = "statement_2">
  <p> You said Yes to this {{z2}}% of the time </p>
  </div>
  <div class = "statement_3">
  <p> You said Yes to this {{z3}}% of the time </p>
  </div>
  <div class = "statement_4">
  <p> You said Yes to this {{z4}}% of the time </p>
  </div>
  <div class = "statement_5">
  <p> You said Yes to this {{z5}}% of the time </p>
  </div>
</div>
</div>



<h2><a href="{% url 'home' %}">Back to My CheckUp</a> </h2>


{%endblock%}
