{% extends 'generic.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h2>Time for a Checkup</h2>

  <form method="POST" class="post-form">
    {% csrf_token %}

    <div class = "form">
            <p><label for="id_bigScore"><b>How have you been feeling?</label></p>
            <p><select name="bigScore">
                  <option value="4">Really Good</option>
                  <option value="3">Good</option>
                  <option value="2">OK</option>
                  <option value="1">Bad</option>
                  <option value="0">Really Bad</option>
              </select> </p>
              <br>
              <br>
              <h4> Since your last Checkup, were you generally doing the following?</h4>
              <br>


              <p><label for="id_oneScore">{{questions.1}}</label><p>
              <p><fieldset id="id_oneScore">
                      <input type="radio" name="oneScore" option value="1">Yes</option>
                      <input type="radio" name="oneScore" option value="0">No</option>
                    </fieldset></p>
                <p><label for="twoScore">{{questions.2}}</label></p>
                <p><fieldset id="id_twoScore">
                      <input type="radio" name="twoScore" option value="1">Yes</option>
                      <input type="radio" name="twoScore" option value="0">No</option>
                    </fieldset> </p>
                <p><label for="id_threeScore">{{questions.3}}</label></p>
                <p><fieldset id="id_threeScore">
                      <input type="radio" name="threeScore" option value="1">Yes</option>
                      <input type="radio" name="threeScore" option value="0">No</option>
                    </fieldset> </p>
                <p><label for="id_name">{{questions.4}}</label></p>
                <p><fieldset id="id_fourScore">
                      <input type="radio" name="fourScore" option value="1">Yes</option>
                      <input type="radio" name="fourScore" option value="0">No</option>
                    </fieldset> </p>
                <p><label for="id_name">{{questions.5}}</label></p>
                <p><fieldset id="id_fiveScore">
                      <input type="radio" name="fiveScore" option value="1">Yes</option>
                      <input type="radio" name="fiveScore" option value="0">No</option>
                    </fieldset> </p>

    <br>
    <button type="submit" class="save btn btn-default">Check In</button>
    </div>
  </form>


</div>



{% endblock%}
