{% extends 'generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  {% if edit == "0" %}
    <h1>New Check-Up Statement</h1>
    <div class = "textbox2">
      <p>Statements involve things you <b>do, think, or feel</b> when you are well. These can be edited at any time.</p>
      <p>If you are having trouble coming up with these - <a href={% url 'statement_help' state=statement edits=edit %}>this should help.</a></p>
    </div>
    <br>
  {% else %}
    <h1>Edit Check-Up Statement</h1>
    <div class = "textbox">
    <p>Your current Statement is:
    {% for key, val in questions %}
      {% if key == statement %}
         <strong>{{ val }}</strong></p>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}


        <div id = "clickme">
        <form method="POST" class="post-form">{% csrf_token %}
          <table border="1">
          {{ form | crispy }}
          </table>
          <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <div class = "button2">
        <button>Pick from Sample Statements</button>
        </div>
        </div>

        <div id = "clickme1" style="display:none">
        <form method="POST" class="post-form">{% csrf_token %}
          <h4list><select name="text">
                <option value="Exercising most days of the week.">Exercising most days of the week.</option>
                <option value="Enjoying my hobbies in my free time.">Enjoying my hobbies in my free time.</option>
                <option value="Eating healthy and enjoying the food I eat.">Eating healthy and enjoying the food I eat.</option>
                <option value="Getting at least 7 hours of sleep a night.">Getting at least 7 hours of sleep a night.</option>
                <option value="Having enough time off to de-stress.">Having enough time off to de-stress.</option>
                <option value="Talking to family and friends regularly.">Talking to family and friends regularly.</option>
                <option value="Feeling curious and excited about the world around me.">Enjoying my hobbies in my free time.</option>
                <option value="Having self-compassion and avoiding self-blame.">Eating healthy and enjoying the food I eat.</option>
                <option value="Cutting down on Alcohol.">Cutting down on Alcohol.</option>
                <option value="Trying to live in the moment.">Trying to live in the moment.</option>

            </select></h4list>
            <br>
            <phelp>Select a statement</phelp>
            <br>
            <br>

          <button type="submit" class="save btn btn-default">Save</button>
        </form>
          <div class = "button2">
          <button>Write My Own</button>
          </div>

        </div>


        <script>
        $("button").click(function() {
          $( "#clickme" ).toggle();
          $( "#clickme1" ).toggle();
        });
        </script>

  {% if edit == "1" %}
  <div class = "textbox2">
  <p>If you are having trouble coming up with a statement - <a href={% url 'statement_help' state=statement edits=edit %}><b>this should help.</b></a></p>
  </div>

  <ul class = "check">
  <h2> Current My Checkup </h2>
  {% for key, val in questions %}
    <div class = "statement_{{key}}">
      <li class = "image">{{val}}</li>
    </div>
  {% endfor %}
  </ul>

  {% else %}
  <h2> Sample My Checkup </h2>
  {% for key, val in sample %}
    <div class = "statement_{{key}}">
      <p>{{ key }}) {{val}}</p>
    </div>

  {% endfor %}

  <div class="textbox2">
    <h2>A statement should:</h2>
    <ul>
      <li>Start with "I ..." or a verb "eg: Doing, Feeling, Being, Trying, Going etc"</li>
      <li> May help you feeling well</li>
      <li> <b>Or</b> may be something you do because you feel well</li>
    </ul>
      <div class = "image1"><img src="{% static 'cycle.png' %}" alt="My image" style="width:300px;height:225px"/></div>

  </div>

  {% endif %}
{% endblock %}
