.page-header {
    background-color: #D876C0; /*B673C1;*/
    text-align: center;
    vertical-align:middle;
    margin-top: 20px;
    padding: 20px 20px 20px 40px;
}

h1{
}

h2{
  color: #B673C1;
}

p {
  color: #000;
  padding: 100 px;
}

body {
    padding-left: 15px;
}

.textbox {
  background-color: #F4B1FF;
  padding: 20px;
  margin-top: 20px;
  font-size: 1.5eM;
  opacity: 1;
}

a:link {
    color:#000;
    text-decoration: underline;
}
a:visited {
    color:#000;
}
a:hover {
  font-size: 1.1eM;
  opacity: 0.7;
  transition: 0.3s;
}

.statement_1 {
  background-color: #CE7088;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5eM;
  opacity: 1;
}

.statement_2 {
  background-color: #D876C0;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5eM;
  opacity: 1;
}

.statement_3 {
  background-color: #B673C1;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5eM;
  opacity: 1;
}

.statement_4 {
  background-color: #AF76D8;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5eM;
  opacity: 1;
}

.statement_5 {
  background-color: #8E70CE;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.5eM;
  opacity: 1;
}

.textbox2 {
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #B673C1;
  margin-top: 20px;
  font-size: 1.5eM;
  opacity: 1;
}

.image1 {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

li.nav {
  display:inline;
  float:left;
  padding: 8px;
  background-color: #F4B1FF;
}

.nav:hover {
  background-color: #fff;
  transition-duration:0.8s;
}

.radio {
  display:inline;
}
