.page-header {
    border-style: solid;
    border-width: 5px;
    border-color: #000;
    background-color: #B673C1;
    text-align: center;
    margin-top: 20px;
    padding: 20px 20px 20px 40px;
}

.textbox {
  background-color: #F4B1FF;
  padding: 20px;
  margin-top: 20px;
  font-size: 1.5eM;
  opacity: 1;
}

.textbox2 {
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-color: #B673C1;
  margin-top: 20px;
  font-size: 1.5eM;
  opacity: 1;
}

.image1 {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

li.nav {
  display:inline;
  float:left;
  padding: 8px;
  background-color: #dddddd;
}

h1{
}

h2{
  color: #B673C1;
}

p {
  color: #000;
  padding: 100 px;
}

body {
    padding-left: 15px;
}
